<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ server_name }}</title>
</head>
<body>
    <h1>{{ server_name }}</h1>
    <p>Managed by Ansible</p>
    <ul>
        <li>Hostname: {{ ansible_hostname }}</li>
        <li>Distribution: {{ ansible_distribution }} {{ ansible_distribution_version }}</li>
        <li>Admin contact: {{ admin_email }}</li>
    </ul>
</body>
</html>
